#strap
  %p Report and view problems in hospitals

#step_feedprob
  #problems
    %h2 Report a Problem
    %p This site is for reporting specific problems in hospitals, like broken equipment or badly cleaned areas.
    %p Your comments will be emailed to the hospital, so that they can take action to fix the problem

    #step_problem
      %p Remember, this is for specific problems, not general feedback. To give general feedback, visit <a href="http://www.patientopinion.org.uk">Patient Opinion</a>.
      %form{:action => '/find', :method => 'get'}
        %label{:for => 'postcode'} Postcode or hospital name:
        %input{:name => 'q', :id => 'postcode', :type => 'text'}
        %input{:type => 'submit', :class => 'submit', :value => 'Go'}
        %p.help Either yours, or somewhere near the hospital you want to find

  #feedback
    %h2 Giving general feedback?
    %p If you want to provide general feedback on the care you received, you should visit <a href="http://www.patientopinion.org.uk">Patient Opinion</a>. 
    %p This site is only for reporting specific problems.
    %p.button
      %a{:href => 'http://www.patientopinion.org.uk'} Give Feedback at Patient Opinion

  %div.clear


