!!!
%html
  %head
    %title FixMyHospital
    %link{:rel=>'stylesheet', :href=>'/style.css', :type => "text/css"}       
    %script{:src => '/script/jquery-1.4.2.js'}
    %script{:src => '/script/script.js'}
  %body
    #container
      #header
        %h1 FixMyHospital
        %ul
          %li <a href="/">Home</a>
      #content
        =yield

      #footer
        %p Content from <a href="http://www.nhschoices.gov.uk">NHS Choices</a>. Everything else, including your contributions, is &copy; <a href="http://harrymetcalfe.com">Harry Metcalfe</a>, and licensed for reuse under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA 3.0</a>. <a href="http://github.com/harry-m/fixmyhospital">Source code</a>
