!!!
%html
  %head
    %title FixMyHospital
    %link{:rel=>'stylesheet', :href=>'/style.css', :type => "text/css"}       
    %script{:src => '/script/jquery-1.4.2.js'}
    %script{:src => '/script/script.js'}
  %body
    #container
      #header
        %h1 FixMyHospital
        %ul
          %li <a href="/">Home</a>
      #content
        =yield
