=form
  label
    display: block
    padding-top: 10px

  input, textarea
    width: 470px

  input.submit
    width: auto

  textarea
    height: 150px


.clear
  clear: both

p.button
  width: 130px
  -moz-box-shadow: 3px 3px 3px #666
  -webkit-box-shadow: 3px 3px 3px #666
  box-shadow: 3px 3px 3px #666

  a
    display: block
    background: green
    padding: 5px
    text-align: center
    color: white
    text-decoration: none

    &:hover
      background: red

body
  font-family: arial, sans-serif
  line-height: 140%
  background: #666
  margin: 0

#container
  width: 1000px
  margin: 0 auto
  padding: 20px
  background: white

  #header
    border-bottom: 1px solid #ccc
    padding-bottom: 10px
    margin-bottom: 20px

    h1
      margin: 0

    ul, li
      list-style: none
      margin: 0
      padding: 0

  #content
    #strap
      font-size: 2em
      padding-bottom: 10px

      p
        margin: 0 0 10px 0

      div
        h2
          font-size: 1.2em
          
    #feedback
      float: right
      width: 310px
      background: #00a8c4
      padding: 20px

      h2
        margin-top: 0

      p.button
        width: 310px
        margin-bottom: 0

    #problems
      float: left
      width: 650px

    #step_problem
      form
        input
          font-size: 1.4em
          padding: 10px
          width: 500px

          &.submit
            width: 100px

        label
          display: block
          font-size: 1.4em

        p.help
          font-size: small

    #hospitals

      .search
        &.top
          padding-bottom: 10px
        &.bottom
          padding-top: 20px

      .hospital
        width: 280px
        float: left
        margin: 10px 0 0 35px
        padding: 15px
        border-top: 2px solid #00a8c4

        &.clear
          margin-left: 0
        
        &.col_1
          background: #ddd

        &.col_0, &.col_2
          background: #f5f5f5

        h3
          margin: 0

        p.address
          font-size: 0.9em
          font-color: #999
          margin: 0 0 10px 0

        p.link
          margin: 0

    #hospital_details
      float: left
      width: 480px

      #details
        h2
          margin-top: 0

        p.address
          font-style: italic

      #report_problem
        +form

        h2
          margin-bottom: 0

    #hospital_problems
      float: right
      width: 480px

      h2
        margin-top: 0

    #problem
      width: 500px

      .new
        font-size: 1.2em
        padding: 10px
        margin: 0 0 10px 0
        background: green 
        color: white

      p.poster
        font-style: italic

      .comment
        padding: 10px

        &.even
          background: #ddd

        &.odd
          background: #f5f5f5
          
        h4
          margin: 0
          padding: 0 0 10px 0

      #comment_form
        width: 470px
        +form
